html,
body,
#react-root {
  height: 100%;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: stolzl, sans-serif;
  margin: 0px;
  background-color: #3d3d3d;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  display: inline-block;
  width: 100%;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

input.btn,
button {
  border: 3px solid;
  border-image: linear-gradient(90deg,rgba(5,169,78,1) 0%,rgba(77,193,255,1));
  border-image-slice: 1;
  color: #fff;
  background: none!important;
  font-family: inherit;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px 30px !important;
}

input.btn:hover {
  background: linear-gradient(90deg,rgba(5,169,78,1) 0%,rgba(77,193,255,1)) !important;
  border-radius: 0px;
}

input[type="text"],
input[type="password"] {
  background-color: #282526;
  border: none;
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  font-family: "stolzl", sans-serif;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  width: calc(100% - 50px);
  margin: 10px 0px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline:#fff;
}

h2 {
  color: #fff;
  font-size: 20px;
  padding-left: 8px;
}

.btn_asLink {
  padding: 35px 10px;
  border-width: 0;
  background: none;
  font: inherit;
  color: #fff;
  font-weight: bold;
  float: left;
}

.loginPanel {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}

button.btn.btn_asLink {
  margin-top: 25px;
}