.wordSearchContainer {
  background-color: #282526;
}

.containerWordPage {
  width: 100%;
  margin-top: -30px;
  display: block;
  margin-bottom: 0px;
  position: relative;
}

.wordSearchContainer .container {
  padding: 20px;
}

.searchResults {
  margin: 25px;
}

.searchResults h3 {
  background-color: #282526;
  padding: 15px 25px;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  font-weight: 300;
  margin: 45px auto;
}

h3.englishWord {
  border-left: #d71fc1 4px solid;
}

h3.frenchWord {
  border-left: #ced10a 4px solid;
}

h3.spanishWord {
  border-left: #05a229 4px solid;
}

h3.italianWord {
  border-left: #24c2e1 4px solid;
}

h3.portugueseWord {
  border-left: #d82f58 4px solid;
}

h3.englishWord::before {
  content: "English";
  color: #D71FC1;
  font-size: 12px;
  display: block;
  position: relative;
  top: -33px;
  left: -30px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

h3.frenchWord::before {
  content: "French";
  color: #ced10a;
  font-size: 12px;
  display: block;
  position: relative;
  top: -33px;
  left: -30px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

h3.spanishWord::before {
  content: "Spanish";
  color: #05a229;
  font-size: 12px;
  display: block;
  position: relative;
  top: -33px;
  left: -30px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

h3.italianWord::before {
  content: "Italian";
  color: #24c2e1;
  font-size: 12px;
  display: block;
  position: relative;
  top: -33px;
  left: -30px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

h3.portugueseWord::before {
  content: "Portuguese";
  color: #d82f58;
  font-size: 12px;
  display: block;
  position: relative;
  top: -33px;
  left: -30px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

.wordSearchContainer.withToggle
  .container
  .globalSearchDiv {
  margin-top: -50px !important;
  position: absolute;
  width: calc(100% - 60px);
}

.addFavContainer {
  display: block;
  width: calc(100% - 25px);
  position: relative;
  margin-left: 25px;
  margin-top: -45px;
}

button.addFavbutton:after {
  background-image: url(/public/images/favorite.png);
  height: 16px;
  width: 16px;
  position: absolute;
  content: " ";
  background-size: 16px;
  background-repeat: no-repeat;
  margin-left: 8px;
}

button.addFavbutton {
  padding: 10px 38px 10px 20px !important;
}

button.deleteFavbutton:after {
  background-image: url(/public/images/favorite_full.png);
  height: 16px;
  width: 16px;
  position: absolute;
  content: " ";
  background-size: 16px;
  background-repeat: no-repeat;
  margin-left: 8px;
}

button.deleteFavbutton {
  border-image-source: linear-gradient(
    90deg,
    #d82f58 0%,
    #c06c6c 100%
  );
  padding: 10px 40px 10px 20px !important;
}

.englishWord:after {
  height: 20px;
  width: 30px;
  background-image: url(/public/images/ENvolume.png);
  display: inline-block;
  position: relative;
  content: " ";
  background-size: 18px;
  background-repeat: no-repeat;
  top: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.frenchWord:after {
  height: 20px;
  width: 30px;
  background-image: url(/public/images/FRvolume.png);
  display: inline-block;
  position: relative;
  content: " ";
  background-size: 18px;
  background-repeat: no-repeat;
  top: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.spanishWord:after {
  height: 20px;
  width: 30px;
  background-image: url(/public/images/SPvolume.png);
  display: inline-block;
  position: relative;
  content: " ";
  background-size: 18px;
  background-repeat: no-repeat;
  top: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.italianWord:after {
  height: 20px;
  width: 30px;
  background-image: url(/public/images/ITvolume.png);
  display: inline-block;
  position: relative;
  content: " ";
  background-size: 18px;
  background-repeat: no-repeat;
  top: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.portugueseWord:after {
  height: 20px;
  width: 30px;
  background-image: url(/public/images/POvolume.png);
  display: inline-block;
  position: relative;
  content: " ";
  background-size: 18px;
  background-repeat: no-repeat;
  top: 5px;
  margin-left: 15px;
  cursor: pointer;
}
