.wordSearchContainer button {
  border: none;
  width: calc(20% - 12px);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin: 5px 0px 30px 15px;
  float: left;
  padding: 5px 10px !important;
}

.wordSearchContainer {
  background-color: #282526;
  display: block;
  position: relative;
  height: 150px;
}

.wordSearchContainer button:nth-of-type(1) {
  margin-left: 0px;
}

button.ENtoggleOn {
  background: #d71fc1 !important;
  color: #751565;
}

button.ENtoggleOff {
  background: #7c7a7b !important;
  color: #d6d6d6;
}

button.FRtoggleOn {
  background: #ced10a !important;
  color: #787815;
}

button.FRtoggleOff {
  background: #787815 !important;
  color: #ced10a;
}

button.SPtoggleOn {
  background: #05a229 !important;
  color: #146024;
}

button.SPtoggleOff {
  background: #146024 !important;
  color: #05a229;
}

button.ITtoggleOn {
  background: #24c2e1 !important;
  color: #237080;
}

button.ITtoggleOff {
  background: #237080 !important;
  color: #24c2e1;
}

button.POtoggleOn {
  background: #d82f58 !important;
  color: #7d273c;
}

button.POtoggleOff {
  background: #7d273c !important;
  color: #d82f58;
}
