.css-1mbbh8w-MuiPaper-root-MuiSnackbarContent-root {
  /* width: 135px; */
  display: block !important;
  position: absolute;
  padding: 20px !important;
  height: 15px;
  margin: 72px 10px !important;
  bottom: unset !important;
  line-height: 0px !important;
  /* background: linear-gradient(
    90deg,
    rgba(5, 169, 78, 1) 0%,
    rgba(77, 193, 255, 1) 100%
  ) !important; */
  color: #fff !important;
  border-radius: 10px !important;
  background-color: #05a94e !important;
}

.MuiSnackbarContent-action.css-1kr9x0n-MuiSnackbarContent-action {
  display: none !important;
}

.MuiSnackbarContent-message.css-1exqwzz-MuiSnackbarContent-message {
  color: #fff !important;
  /* text-shadow: 0px 0px 20px rgba(0,0,0,0.75)!important; */
}

.faved .MuiPaper-root {
  width: 135px;
  z-index: 9999;
  display: block !important;
  position: absolute;
  padding: 20px !important;
  height: 15px;
  margin: 108px 10px 10px 0px !important;
  bottom: initial !important;
  line-height: 0px !important;
  color: #fff !important;
  border-radius: 10px !important;
  background-color: #05a94e !important;
}

.notFaved .MuiPaper-root {
  width: 155px;
  z-index: 9999;
  display: block !important;
  position: absolute;
  padding: 20px !important;
  height: 15px;
  margin: 108px 10px 10px 0px !important;
  bottom: initial !important;
  line-height: 0px !important;
  color: #fff !important;
  border-radius: 10px !important;
  background-color: #d82f58 !important;
}
