.wordSearchContainer button {
    border: none;
    width: calc(20% - 20px);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 30px 15px;
    float: left;
    padding: 5px 10px !important;
}

button.ENtoggle {
    background: #d6d6d6 !important;
    color: #7c7a7b;
}

button.ENtoggle:active{
    background: #7c7a7b  !important;
    color: #d6d6d6;
}

button.FRtoggle {
    background: #ced10a !important;
    color: #787815;
}

button.FRtoggle:active {
    background: #787815 !important;
    color: #ced10a;
}

button.SPtoggle {
    background: #05a229 !important;
    color: #146024;
}

button.SPtoggle:active {
    background: #146024 !important;
    color: #05a229;
}

button.ITtoggle {
    background: #24c2e1 !important;
    color: #237080;
}

button.ITtoggle:active {
    background: #237080 !important;
    color: #24c2e1;
}

button.POtoggle {
    background: #d82f58 !important;
    color: #7d273c;
}

button.POtoggle:active {
    background: #7d273c !important;
    color: #d82f58;
}


