p.welcomeText {
  color: #fff;
  padding-left: 8px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

input.searchField {
  background: #fff !important;
  color: #231f20 !important;
}

input.searchField::placeholder {
  color: #231f20 !important;
}

button.randomSearch {
  font-family: inherit;
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 16px;
  margin-top: 30px;
}

.searchContainer label:before {
  height: 52px;
  width: 52px;
  border-radius: 0px 10px 10px 0px;
  background-image: url("/Users/carloskelley/Documents/dorian/tier2/week18/auth/public/images/search.png");
  background-color: #000;
  display: block;
  position: absolute;
  z-index: 999;
  content: " ";
  background-size: 21px;
  background-repeat: no-repeat;
  right: 20px;
  margin-top: 10px;
  background-position: center;
}

h3.searchResult {
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    width: 75%;
}

.globalSearchDiv {
    background-color: #fff;
    margin-top: -46px;
    padding: 36px 25px 0px 25px;
    border-radius: 0px 0px 10px 10px;
    width: calc(100% - 50px);
}

.resultContainer {
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 10px;
}
