p.welcomeText {
  color: #fff;
  padding-left: 8px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
}

input.searchField {
  background: #fff !important;
  color: #231f20 !important;
}

input.searchField::placeholder {
  color: #231f20 !important;
}

button.randomSearch {
  font-family: inherit;
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 16px;
  margin-top: 30px;
}

.searchContainer label:before {
  height: 52px;
  width: 52px;
  border-radius: 0px 10px 10px 0px;
  background-image: url("../../../public/images/search_bw.png");
  display: block;
  position: absolute;
  z-index: 999;
  content: " ";
  background-size: 21px;
  background-repeat: no-repeat;
  right: 0px;
  margin-top: 10px;
  background-position: center;
}

.searchContainer {
  z-index: 99999999;
  position: relative;
  display: block;
}

h3.searchResult {
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  width: calc(100% - 59px);
  display: inline-block;
  position: relative;
}

.globalSearchDiv {
  background-color: #fff;
  margin-top: -46px;
  padding: 36px 0px 0px 25px;
  border-radius: 0px 0px 10px 10px;
  width: calc(100% - 20px);
  max-height: 350px;
  overflow-y: auto;
  z-index: 999;
  position: relative;
  display: block;
}

.resultContainer {
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
  position: relative;
}

button.searchFav {
  width: 25px;
  height: 30px;
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 20px;
  border: none;
  padding: 0px !important;
  margin-right: 20px !important;
  margin-top: 17px;
}

.resultContainer:last-of-type {
  border: none;
}
